img{
    object-fit: cover;
    width: 100%;
}
.LinkDec{
    text-decoration: none;
}
.no_border{
    border: none !important;
    border-bottom: 1px solid #9D9D9D !important;
}
.loginTitle{
    font-family: var(--mainFont);
    color: var(--mainColor);
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.forgetPass{
    color: #5B86E5;
    text-decoration: none;
}
.loginbtn{
    transition: all 0.3s !important;
}
.loginbtn:hover{
    background-color: #fff !important ;
    color: #000 !important;
}