.min {
    position: fixed; /* Use fixed to ensure it stays visible even if content scrolls */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(48, 47, 47, 0.7); /* Cleaner semi-transparent background */
    z-index: 99999; /* Higher z-index to cover any content */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect to content behind the loader */
}
